%ASSEMBLY_NAME%=ValidationTest
%SHORT_NAME%=ValidationTest
%RAKE_TASK_PREFIX%=validationtest
%FUBU_REGISTRY%=ValidationTestFubuRegistry
%APPLICATION_SOURCE%=ValidationTestApplication
%STRUCTUREMAP_REGISTRY%=ValidationTestRegistry
%PROJECT_PATH%=src/ValidationTest/ValidationTest.csproj
%PROJECT_FOLDER%=src/ValidationTest
